@font-face {
    font-family: 'Alarm Clock';
    src: url('../assets/fonts/alarm_clock.ttf');
}

.uiCanvas {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 82%;
    width: 56%;
    box-sizing: content-box;
    bottom: 0;
    pointer-events: none;
}

canvas {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../assets/images/metal_texture.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#monitor {
    height: 68vh;
    width: 40vw;
    transform: translate(72%, 9%);
}

/*Spy Master UI*/

#spymasterUiContainer {
    height: 100vh;
    width: 100vw;
}

.comPanel {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 17vh;
    height: 50vh;
    width: 16vw;
    background-color: black;
    border-style:inset;
}

.display {
    height: 20%;
    width: 100%;
    top: 1%;
    background-color: lightgrey;
    font-family: 'Alarm Clock';
    font-size: 300%;
    text-align: center;
}

#leftPanel {
    left: 14vh;
    color: blue;
}

#rightPanel {
    right: 14vh;
    color: red;
}

.btn {
    flex-wrap: wrap;
    margin: auto;
    height: 10%;
    width: 30%
}