@keyframes backgroundMove{
    0%{
        background-image: linear-gradient(320deg, rgba(1,114,0,0.65) 0%,rgba(0,0,0,0) 100%), url("../assets/images/AdobeStock_160175472.jpeg");
        background-repeat: no-repeat, no-repeat;
        background-size: 400% 400%, 100% 100%;
        background-position: 0% 7%, center center;
        background-attachment: fixed;
    }
    50%{
        background-image: linear-gradient(320deg, rgba(1,114,0,0.65) 0%,rgba(0,0,0,0) 100%), url("../assets/images/AdobeStock_160175472.jpeg");
        background-repeat: no-repeat, no-repeat;
        background-size: 400% 400%, 100% 100%;
        background-position: 100% 94%, center center;
        background-attachment: fixed;
    }
    100%{
        background-image: linear-gradient(320deg, rgba(1,114,0,0.65) 0%,rgba(0,0,0,0) 100%), url("../assets/images/AdobeStock_160175472.jpeg");
        background-repeat: no-repeat, no-repeat;
        background-size: 400% 400%, 100% 100%;
        background-position: 0% 7%, center center;
        background-attachment: fixed;
    }
}

body{
    animation: backgroundMove 5s ease infinite;
}

/*body{*/
    /*color: red;*/
/*}*/

@font-face {
    font-family: 'Special Elite';
    src: url('../assets/fonts/SpecialElite.ttf');
}

.landing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.nav{
    text-align: right;
    width: 100%;
}

.nav-item{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    font-family: "Special Elite";
    text-align: center;
    width: 100%;
    font-size: 5em;
    user-select: none;
}