@keyframes backgroundMove{
    0%{
        background-image: linear-gradient(320deg, rgba(1,114,0,0.65) 0%,rgba(0,0,0,0) 100%), url("../assets/images/scaledbackground.jpg");
        background-repeat: no-repeat, no-repeat;
        background-size: 400% 400%, 100% 100%;
        background-position: 0% 7%, center center;
        background-attachment: fixed;
    }
    50%{
        background-image: linear-gradient(320deg, rgba(1,114,0,0.65) 0% ,rgba(0,0,0,0) 100%), url("../assets/images/scaledbackground.jpg");
        background-repeat: no-repeat, no-repeat;
        background-size: 400% 400%, 100% 100%;
        background-position: 100% 94%, center center;
        background-attachment: fixed;
    }
    100%{
        background-image: linear-gradient(320deg, rgba(1,114,0,0.65) 0%,rgba(0,0,0,0) 100%), url("../assets/images/scaledbackground.jpg");
        background-repeat: no-repeat, no-repeat;
        background-size: 400% 400%, 100% 100%;
        background-position: 0% 7%, center center;
        background-attachment: fixed;
    }
}

@font-face {
    font-family: 'Special Elite';
    src: url('../assets/fonts/SpecialElite.ttf');
}

/*Animation learned from https://paulund.co.uk/create-typing-effect*/
@-webkit-keyframes  typeTitle {
    from {
        width: 0;
    }
}

/*Animation learned from https://css-tricks.com/snippets/css/typewriter-effect/*/
@-webkit-keyframes cursorTitle {
    from, to {border-color: transparent}
    50% {border-color: black;}
}

@-webkit-keyframes login_fadein {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

html {
    min-width: 800px;
    min-height: 900px;
}

.landing{
    animation: backgroundMove 10s linear infinite;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    pointer-events: auto;
}

.nav{
    text-align: right;
    width: 100%;
}

.nav-item{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.titleAnimation{
    font-family: "Special Elite";
    text-align: center;
    width: 56vw;
    margin: 0;
    font-size: 6vw;
    user-select: none;
    height: 14%;
    white-space: nowrap;
    /*overflow: hidden;*/
    border-right: 0.08em solid transparent;
    animation: typeTitle 3.5s steps(14,end), cursorTitle .75s step-end infinite;
    top: 25vh;
    position: relative;
    color: black;
}

.titleNoAnimation{
    font-family: "Special Elite";
    text-align: center;
    width: 56vw;
    margin: 0;
    font-size: 6vw;
    user-select: none;
    height: 14%;
    top: 25vh;
    position: relative;
    color: black;
}

.loginLink {
    height: 4vh;
    top: 57vh;
    width: 10vw;
    border: none;
    background-color: transparent;
    transform: translate(-12%, 58%);
    position: absolute;
    margin-top: 2%;
}

.loginText {
     color: black;
     display: inline-block;
     text-align: center;
     text-decoration: none;
     box-sizing: border-box;
     outline: none;
     width: 10vw;
     /*pointer-events: auto;*/
     margin: 0;
     font-family: "Special Elite";
     font-size: 3vw;
     font-weight: bold;
     white-space: nowrap;
     /*overflow: hidden;*/
     border-right: 0.08em solid transparent;
     animation: typeTitle 3.5s steps(14,end), cursorTitle .75s step-end infinite;
     cursor: pointer;
 }

.loginText:hover {
    color: antiquewhite;
}

.logo {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 26vw;
}

.hide {
    display: none;
}

.landing a {
    font-family: Special Elite;
    font-size: 250%;
    position: absolute;
    top: 5%;
    right: 5%;
    height: min-content;
    color: antiquewhite;
    text-decoration: none;
}

.landing a:hover {
    color: black;
    cursor: pointer;
}

/*Mobile responsive styling*/

/* Phone in portrait mode */
@media only screen and (orientation: portrait) and (max-width: 425px) and (max-height: 900px) {
    #phone_cover {
        display: block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: rgba(0, 0, 0, 1);
        z-index: 6;
        color: white;
        font-size: 5vh;
    }

    #phone_cover > p {
        font-family: "Special Elite";
        top: 10%;
        position: relative;
        width: 60%;
        left: 20%;
    }
}

/* Phone in landscape mode */
@media only screen and (orientation: landscape) and (max-width: 800px) and (max-height: 425px) {
    #phone_cover {
        display: block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: rgba(0, 0, 0, 1);
        z-index: 6;
        color: white;
        font-size: 5vh;
    }

    #phone_cover > p {
        font-family: "Special Elite";
        top: 10%;
        position: relative;
        width: 60%;
        left: 20%;
    }
}

@media only screen and (orientation: portrait) and (min-width: 425px) {
    #portrait_cover {
        display: block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: rgba(0, 0, 0, 1);
        z-index: 6;
        color: white;
        font-size: 5vh;
    }

    #portrait_cover > p {
        font-family: "Special Elite";
        top: 10%;
        position: relative;
        width: 60%;
        left: 20%;
        font-size: 5vh;
    }
}