#lobbyContainer {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    pointer-events: none;
}

#open_games_container {
    height: 50vh;
    width: 46vw;
    left: 2vw;
    top: 2vh;
    border: 2px solid #33cc33;
    pointer-events: auto;
    position: absolute;
}

#lobbyPlaceholder_2 {
    height: 40vh;
    width: 96vw;
    left: 2vw;
    bottom: 2vh;
    border: 2px solid #33cc33;
    pointer-events: auto;
    position: absolute;
}

#joinOrCreateGameContainer {
    height: 50vh;
    width: 46vw;
    right: 2vw;
    top: 2vh;
    border: 2px solid #33cc33;
    pointer-events: auto;
    position: absolute;
}

.joinButton {
    height: 4vh;
    width: 10vw;
    border: 1px solid #33cc33;
    background-color: #000000;
    color: white;
    display: inline-block;
    text-align: center;
}

.joinGameButton {
    margin-left: 12%;
}

.joinLink {
    height: 4vh;
    width: 10vw;
    border: 1px solid #33cc33;
    background-color: #000000;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-left: 4vw;
    outline: none;
}

#create {
    top: 46vh;
    position: absolute;
    user-select: none;
    outline: none;
}

#join{
    top: 2vh;
    position: absolute;
    right: 1vw;
    user-select: none;
    outline: none;
}

.openGamePlayerContainer{
    width: 98%;
    height: 15%;
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
    left: .5vh;
    top: .5vh;
}