@font-face {
    font-family: 'Special Elite';
    src: url('../assets/fonts/SpecialElite.ttf');
}

#loginModal {
    position: absolute;
    top: 20%;
    left: 23vw;
    z-index: +2;
    height: 64%;
    width: 56vw;
    pointer-events: auto;
    /*background-color: antiquewhite;*/
    background-image: url("../assets/images/AdobeStock_160175472.jpeg");
    background-size: 200%;
    background-position: 97% 64%;
    /*border: 1px solid #33cc33;*/
    color: antiquewhite;
    font-family: "Special Elite"
}


#login_container p {
    display: inline-block;
    margin: 0 0 0 1vw;
}

#login_signup_container {
    position: absolute;
    top: 0;
    width: 80%;
    left: 5%;
}

.login_field {
    display: block;
    width: 67%;
    margin-bottom: 1%;
}

#login_signup h4 {
    margin-top: 0;
    margin-bottom: 2%;
}

#login_signin_container {
    position: absolute;
    top: 70%;
    width: 80%;
    left: 30%;
}

.login_button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Special Elite";
    font-size: 2vw;
    padding: 0;
    margin: 2vw 0;
}

.login_button:hover {
    font-weight: bold;
}

input {
    width: 38%;
}

#loginSubmitButton:hover {
    font-weight: bold;
}

#facebookButton {
    position: absolute;
    top: 35vw;
    right: 10%;
}

#facebookButton:hover {
    font-weight: bold;
}

#signUpButton {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 30vw;
    right: 10%;
    margin: 0;
}

#signUpButtonText {
    color: black;
    text-decoration: none;
    margin: 0;
}

#signUpButtonText:hover {
    font-weight: bold;
}
