@font-face {
    font-family: 'Special Elite';
    src: url('../assets/fonts/SpecialElite.ttf');
}

#loginModal {
    position: absolute;
    top: 20%;
    left: 23vw;
    z-index: +2;
    height: 64%;
    width: 56vw;
    /*pointer-events: auto;*/
    background-color: #00000073;
    box-shadow: inset 0 0 107px 11px #000000;
    color: antiquewhite;
    font-family: "Special Elite"
}

#login_signup_container {
    position: absolute;
    top: 0;
    width: 80%;
    left: 5%;
}

.login_field {
    display: block;
    width: 67%;
    margin-bottom: 1%;
}

#login_signup h4 {
    margin-top: 0;
    margin-bottom: 2%;
}

#login_signin_container {
    position: absolute;
    top: 70%;
    width: 80%;
    left: 30%;
}

.login_button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Special Elite";
    font-size: 2vw;
    padding: 0;
    margin: 2vw 0;
    color: antiquewhite;
    top: 5vh;
    /*left: 31vw;*/
    position: relative;
    cursor: pointer;
}

.login_button:hover {
    font-weight: bold;
}

input {
    width: 15vw;
    font-family: Arial;
    color: black;
}

#loginSubmitButton:hover {
    font-weight: bold;
}

#facebookButton {
    position: absolute;
    top: 75%;
    right: 10%;
    color: antiquewhite;
    cursor: pointer;
}

#facebookButton:hover {
    font-weight: bold;
}

#signUpButton {
    color: antiquewhite;
    text-decoration: none;
    position: relative;
    top: 54vh;
    left: 44vw;
    cursor: pointer;
}

#signUpButtonText {
    color: antiquewhite;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

#signUpButtonText:hover {
    font-weight: bold;
}

#signUpSuccess {
    position: absolute;
    top: 91%;
    right: 27%;
    font-size: large;
}

#loader {
    position: absolute;
    top: 50%;
    left: 5%;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

#login_signup_container #signUpForm > div {
    display: inline-block;
    width: 20vw;
}

#login_signup_container #signUpForm > div:nth-child(n+4) {
    margin-top: 4vh;
}

#login_signup_container #signUpForm > div > div > p{
    position: absolute;
    color: limegreen;
    font-size: 1.8vh;
}