.hide {
    display: none;
}

.lobbyPlayerContainer {
    width: 98%;
    /*height: 15%;*/
    position: relative;
    border: 1px solid white;
    box-sizing: border-box;
    left: .5vh;
    top: .5vh;
}

/*.lobbyPlayerContainer_join {*/
    /*width: 98%;*/
    /*!*height: 15%;*!*/
    /*position: relative;*/
    /*border: 1px solid white;*/
    /*box-sizing: border-box;*/
    /*left: .5vh;*/
    /*top: .5vh;*/
/*}*/

#profilePic {
    height: 5vh;
}

#username {
    color: white;
    display: inline-block;
    margin: 0;
    top: 25%;
    left: 12%;
    position: absolute;
    font-size: 2vh;
}

#spyUiPlayerContainer {

}

#agentName {
    color: white;
}