.hide {
    display: none;
}

.lobbyPlayerContainer {
    width: 100%;
    /* height: min-content; */
    /* position: relative; */
    border: 1px solid white;
    box-sizing: border-box;
    /* left: -2%; */
    /* top: .5vh; */
    box-shadow: inset 0 0 9px 3px white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

/*.lobbyPlayerContainer_join {*/
    /*width: 98%;*/
    /*!*height: 15%;*!*/
    /*position: relative;*/
    /*border: 1px solid white;*/
    /*box-sizing: border-box;*/
    /*left: .5vh;*/
    /*top: .5vh;*/
/*}*/

#profilePic {
    height: 5vh;
    margin: 2% 0 0 2%;
}

#username {
    color: white;
    display: inline-block;
    margin: 2%;
    /* top: 63%; */
    /*left: 12%;*/
    /* position: absolute; */
    font-size: 1.8vh;
    text-align: center;
}

#username_2 {
    color: white;
    display: inline-block;
    margin: 2%;
    /*top: 55%;*/
    /*left: 12%;*/
    /*position: absolute;*/
    font-size: 1.8vh;
    text-align: center;
}

#spyUiPlayerContainer {

}

#agentName {
    color: white;
}

#agentNamePlayerContainer {
    color: white;
    /* display: block; */
    margin: 0;
    /* top: 22%; */
    /* left: 20%; */
    /* position: absolute; */
    font-size: 1.8vh;
    margin: 2%;
    /* width: 72%; */
    text-align: center;
}