.hide {
    display: none;
}

.lobbyPlayerContainer {
    width: 100%;
    min-height: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: inset 0 0 9px 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePic {
    height: 5vh;
    margin: 2% 0 0 2%;
}

#username {
    color: white;
    display: inline-block;
    margin: 2%;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320)));
    text-align: center;
}

#username_2 {
    color: white;
    display: inline-block;
    margin: 2%;
    font-size: 1.8vh;
    text-align: center;
}

#spyUiPlayerContainer {

}

#agentName {
    color: white;
}

#agentNamePlayerContainer {
    color: white;
    margin: 0;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1440 - 320)));
    margin: 2%;
    text-align: center;
}